.top-div{
    background-color: #ECF9FF;
    width: 100%;
    height: 700px;
    text-align: center;
}

.name{
    transform: translate(0,200px);
    color: #F8CBA6;
    font-family: "Sacramento",cursive;
    font-size: 70px;
    margin: 0;
    line-height: 70px;

}
.description{
    transform: translate(0,200px);
    color: #F8CBA6;
    font-family: "Mon";
    margin-top: 0px;
}

.image-cloud-top{
    position: absolute;
    top: 120px;
    right: 550px;
}

.image-cloud-bottom{
    position: absolute;
    top:350px;
    left: 550px;
}

.image-mountain{ 
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);

}


